apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "77.1.1"
      # version: "66.2.2"
      # version: "58.x"

      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    grafana:
      adminPassword: kevin
      ingress:
          ## If true, Grafana Ingress will be created
          ##
          enabled: true

          ## IngressClassName for Grafana Ingress.
          ## Should be provided if Ingress is enable.
          ##
          ingressClassName: traefik

          ## Hostnames.
          ## Must be provided if Ingress is enable.
          ##
          hosts:
            - grafana.kevin-morris.net

          ## TLS configuration for grafana Ingress
          ## Secret must be manually created in the namespace
          ##
          tls:
            - secretName: grafana-tls-secret
              hosts:
                - grafana.kevin-morris.net


